<a href="https://colab.research.google.com/github/bhargobjs/cquantIO/blob/main/CquNTIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

# Task 1: Import data
## Read data from file 

print("hello")
Contracts_df = pd.read_csv('Contracts.csv')
GDA_TETSTX_df = pd.read_csv('GDA_TETSTX.csv')
Henry_Hub_df=pd.read_csv('Henry_Hub.csv')
Plant_Parameters_df=pd.read_csv('Plant_Parameters.csv')



ERCOT_DA_Prices_2016_df = pd.read_csv('ERCOT_DA_Prices_2016.csv')
ERCOT_DA_Prices_2017_df = pd.read_csv('ERCOT_DA_Prices_2017.csv')
ERCOT_DA_Prices_2018_df=pd.read_csv('ERCOT_DA_Prices_2018.csv')
ERCOT_DA_Prices_2019_df=pd.read_csv('ERCOT_DA_Prices_2019.csv')



Henry_Hub_df.head()
GDA_TETSTX_df.head()
Henry_Hub_df.head()
Plant_Parameters_df.head()

hello

,PlantName,Year,Month,PowerPriceName,FuelPriceName,Capacity,HeatRate,VOM,FuelTransportationCost,FixedStartCost
0,Alpha,2017,1,HB_HOUSTON,Henry Hub,100,9.2,3,0.1,10000
1,Alpha,2017,2,HB_HOUSTON,Henry Hub,98,9.4,3,0.1,10000
2,Alpha,2017,3,HB_HOUSTON,Henry Hub,96,9.6,3,0.1,10000
3,Alpha,2017,4,HB_HOUSTON,Henry Hub,94,9.8,3,0.1,10000
4,Alpha,2017,5,HB_HOUSTON,Henry Hub,92,10.0,3,0.1,10000

In [ ]:
## checking counts on the files
ERCOT_DA_Prices_2016_df.shape

(122962, 3)

In [ ]:
ERCOT_DA_Prices_2017_df.shape 
ERCOT_DA_Prices_2017_df.head()

                  Date SettlementPoint  Price
0  2017-01-01 00:00:00       HB_BUSAVG  23.23
1  2017-01-01 00:00:00      HB_HOUSTON  23.23
2  2017-01-01 00:00:00       HB_HUBAVG  23.23
3  2017-01-01 00:00:00        HB_NORTH  23.23
4  2017-01-01 00:00:00        HB_SOUTH  23.23

In [ ]:
ERCOT_DA_Prices_2018_df.shape

(122626, 3)

In [ ]:
ERCOT_DA_Prices_2019_df.shape

(129106, 3)

In [ ]:
## henry data set
Henry_Hub_df.head()
Henry_Hub_df.shape

(1735, 3)

In [ ]:
GDA_TETSTX_df.head()
GDA_TETSTX_df.shape
##GDA_TETSTX data set

(1947, 3)

In [ ]:
# Task 1: 
## concating the two fuel data sets
fuel_prices_concat_df=pd.concat([GDA_TETSTX_df  , Henry_Hub_df])
fuel_prices_concat_df.shape
##fuel_prices_concat_df.head()

(3682, 3)

In [ ]:
#### concating the 4 power price data sets  
power_prices_concat_df=pd.concat([ERCOT_DA_Prices_2016_df  , ERCOT_DA_Prices_2017_df,ERCOT_DA_Prices_2018_df,ERCOT_DA_Prices_2019_df])
power_prices_concat_df.shape

(497320, 3)

In [ ]:
power_prices_concat_df.head()

                   Date SettlementPoint  Price
0   2016-01-01 00:00:00       HB_BUSAVG  18.42
1   2016-01-01 00:00:00      HB_HOUSTON  18.42
2   2016-01-01 00:00:00       HB_HUBAVG  18.42
3   2016-01-01 00:00:00        HB_NORTH  18.43
4   2016-01-01 00:00:00        HB_SOUTH  18.38
..                  ...             ...    ...
95  2016-01-01 06:00:00        LZ_RAYBN  18.98
96  2016-01-01 06:00:00        LZ_SOUTH  18.87
97  2016-01-01 06:00:00         LZ_WEST  18.99
98  2016-01-01 07:00:00       HB_BUSAVG  19.18
99  2016-01-01 07:00:00      HB_HOUSTON  19.18

[100 rows x 3 columns]

In [ ]:
result = power_prices_concat_df.groupby([power_prices_concat_df['SettlementPoint'],power_prices_concat_df.index.year, power_prices_concat_df.index.month]).agg({'Price': ['mean', 'min', 'max','std']})

AttributeError: ignored

In [ ]:
datatypes = power_prices_concat_df.dtypes
  
# Print the data types
# of each column
datatypes

Date                object
SettlementPoint     object
Price              float64
dtype: object

In [ ]:

# convert the 'Date' column to datetime format
power_prices_concat_df['Date']= pd.to_datetime(power_prices_concat_df['Date'])

In [ ]:
# Check the format of 'Date' column
power_prices_concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497320 entries, 0 to 129105
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             497320 non-null  datetime64[ns]
 1   SettlementPoint  497320 non-null  object
 2   Price            497320 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 31.3+ MB

In [ ]:
 ## grouping by month and year
#GB = power_prices_concat_df.groupby([(power_prices_concat_df.Date.year), (power_prices_concat_df.Date.month)])

In [ ]:

## groupoing by to test
group_power=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].count()
group_power.head(60)

SettlementPoint  Date  Date
HB_BUSAVG        2016  1       744
                       2       696
                       3       743
                       4       720
                       5       744
                       6       720
                       7       744
                       8       744
                       9       720
                       10      744
                       11      720
                       12      744
                 2017  1       744
                       2       672
                       3       743
                       4       720
                       5       744
                       6       720
                       7       744
                       8       744
                       9       720
                       10      744
                       11      720
                       12      744
                 2018  1       744
                       2       672
                       3       743
                       4       720
                       5       744
                       6       720
                       7       744
                       8       744
                       9       720
                       10      744
                       11      720
                       12      744
                 2019  1       744
                       2       672
                       3       743
                       4       720
                       5       744
                       6       720
                       7       744
                       8       744
                       9       720
                       10      744
                       11      720
                       12      744
HB_HOUSTON       2016  1       744
                       2       696
                       3       743
                       4       720
                       5       744
                       6       720
                       7       744
                       8       744
                       9       720
                       10      744
                       11      720
                       12      744
Name: Price, dtype: int64

In [ ]:
power_prices_concat_df['SettlementPoint'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
129101    False
129102    False
129103    False
129104    False
129105    False
Name: SettlementPoint, Length: 497320, dtype: bool

In [ ]:
# Task 2: Calculate basic desriptive statistics
## grouping by monthly  power_prices_concat_df.SettlementPoint ,power_prices_concat_df.Date.dt.year
### Calculate mean
power_prices_concat_df_mean=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].mean()

In [ ]:
# Task 2: Calculate basic desriptive statistics
## grouping by monthly  power_prices_concat_df.SettlementPoint ,power_prices_concat_df.Date.dt.year
### Calculate mean
power_prices_concat_df_mean=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].mean()
power_prices_concat_df_mean.head(50)

SettlementPoint  Date  Date
HB_BUSAVG        2016  1        19.209301
                       2        15.288247
                       3        16.755626
                       4        18.289347
                       5        18.159583
                       6        23.909819
                       7        27.187473
                       8        30.567137
                       9        26.861750
                       10       25.204839
                       11       19.244903
                       12       25.318306
                 2017  1        23.252782
                       2        20.117827
                       3        22.569892
                       4        23.705083
                       5        25.087352
                       6        27.669153
                       7        31.454274
                       8        27.507016
                       9        24.184167
                       10       23.563280
                       11       22.677458
                       12       21.187957
                 2018  1        37.869677
                       2        21.854315
                       3        22.561978
                       4        23.142958
                       5        34.005242
                       6        29.966125
                       7        78.859449
                       8        31.661559
                       9        27.175444
                       10       29.957823
                       11       30.644500
                       12       30.268185
                 2019  1        24.592567
                       2        21.186369
                       3        27.565720
                       4        22.613181
                       5        23.959933
                       6        25.085542
                       7        29.729624
                       8       126.384086
                       9        79.615625
                       10       28.247056
                       11       23.468375
                       12       18.715081
HB_HOUSTON       2016  1        19.565726
                       2        15.464540
Name: Price, dtype: float64

In [ ]:
# Task 2: Calculate basic desriptive statistics
## grouping by monthly  power_prices_concat_df.SettlementPoint ,power_prices_concat_df.Date.dt.year
### Calculate min
power_prices_concat_df_min=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].min()
power_prices_concat_df_min.head(100)

SettlementPoint  Date  Date
HB_BUSAVG        2016  1       5.12
                       2       1.79
                       3       1.22
                       4       1.18
                       5       3.03
                               ...
HB_HOUSTON       2019  12      3.80
HB_HUBAVG        2016  1       5.13
                       2       1.52
                       3       1.05
                       4       1.07
Name: Price, Length: 100, dtype: float64

In [ ]:
# Task 2: Calculate basic desriptive statistics
## grouping by monthly  power_prices_concat_df.SettlementPoint ,power_prices_concat_df.Date.dt.year
### Calculate max
power_prices_concat_df_max=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].max()
power_prices_concat_df_max.head(100)

SettlementPoint  Date  Date
HB_BUSAVG        2016  1       54.69
                       2       50.98
                       3       64.31
                       4       93.09
                       5       73.61
                               ...
HB_HOUSTON       2019  12      59.43
HB_HUBAVG        2016  1       54.53
                       2       50.90
                       3       65.81
                       4       94.38
Name: Price, Length: 100, dtype: float64

In [ ]:
# Task 2: Calculate basic desriptive statistics
## grouping by monthly  power_prices_concat_df.SettlementPoint ,power_prices_concat_df.Date.dt.year
### Calculate std
power_prices_concat_df_std=power_prices_concat_df.groupby([power_prices_concat_df.SettlementPoint,power_prices_concat_df.Date.dt.year,power_prices_concat_df.Date.dt.month])['Price'].std()
power_prices_concat_df_std.head(100)

SettlementPoint  Date  Date
HB_BUSAVG        2016  1       5.485210
                       2       5.777172
                       3       7.368497
                       4       9.506143
                       5       8.017221
                                 ...
HB_HOUSTON       2019  12      6.622056
HB_HUBAVG        2016  1       5.512317
                       2       5.812593
                       3       7.426261
                       4       9.574284
Name: Price, Length: 100, dtype: float64

In [ ]:
Contracts_df.head(10)

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [ ]:
fuel_prices_concat_df.head(10)

     Variable        Date  Price
0  GDA_TETSTX  2019-05-01  2.490
1  GDA_TETSTX  2019-04-30  2.420
2  GDA_TETSTX  2019-04-29  2.445
3  GDA_TETSTX  2019-04-28  2.445
4  GDA_TETSTX  2019-04-27  2.445
5  GDA_TETSTX  2019-04-26  2.370
6  GDA_TETSTX  2019-04-25  2.365
7  GDA_TETSTX  2019-04-24  2.360
8  GDA_TETSTX  2019-04-23  2.400
9  GDA_TETSTX  2019-04-22  2.365

In [ ]:
Hourly_df_1 = Contracts_df[Contracts_df['Granularity'] == 'Hourly']
Hourly_df_1.head()

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
1,S2,Swap,2017-01-01,2018-12-31,1000,Hourly,21.0,NaN,HB_NORTH
3,O2,European option,2018-10-01,2019-09-30,1000,Hourly,31.5,3.0,HB_HOUSTON

In [ ]:
Hourly_df_1.dtypes
x = pd.to_datetime(Hourly_df_1['StartDate'], format='%Y-%m-%d')
y = pd.to_datetime(Hourly_df_1['EndDate'], format='%Y-%m-%d')

#add_hour = pd.date_range(start=Hourly_df_1.index.min().replace(hour=0),end=(Hourly_df_1.index.max()),freq='H')

In [ ]:
Daily_df_1 = Contracts_df[Contracts_df['Granularity'] == 'Daily']
Daily_df_1.head()

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub
2,O1,European option,2017-06-01,2017-07-15,10000,Daily,2.9,0.1,GDA_TETSTX

In [ ]:
# Task 5
Daily_df_1['Date_exploded'] = [pd.date_range(x, y ) for x, y in zip(Daily_df_1.StartDate, Daily_df_1.EndDate)]
out = Daily_df_1.explode('Date_exploded')
out.head()
out.info()
#out.drop(['new', 'Variable'], axis=1, inplace=True)
out.info()
out['Date_exploded']=out['Date_exploded'].dt.strftime('%y-%m-%d')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 0 to 2
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ContractName   135 non-null    object
 1   DealType       135 non-null    object
 2   StartDate      135 non-null    object
 3   EndDate        135 non-null    object
 4   Volume         135 non-null    int64
 5   Granularity    135 non-null    object
 6   StrikePrice    135 non-null    float64
 7   Premium        45 non-null     float64
 8   PriceName      135 non-null    object
 9   Date_exploded  135 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 11.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 0 to 2
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ContractName   135 non-null    object
 1   DealType       135 non-null    object
 2   StartDate      135 non-null    object
 3   EndDate        135 non-null    object
 4   Volume         135 non-null    int64
 5   Granularity    135 non-null    object
 6   StrikePrice    135 non-null    float64
 7   Premium        45 non-null     float64
 8   PriceName      135 non-null    object
 9   Date_exploded  135 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 11.6+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# Task 5
# inner join
df = pd.merge(out, fuel_prices_concat_df, how='left', left_on=['PriceName', 'Date_exploded'] , right_on=['Variable','Date'])
df.head()

,ContractName,DealType,StartDate,EndDate,Volume,Granularity,StrikePrice,Premium,PriceName,Date_exploded,Variable,Date,Price
0,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,17-01-01,NaN,NaN,NaN
1,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,17-01-02,NaN,NaN,NaN
2,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,17-01-03,NaN,NaN,NaN
3,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,17-01-04,NaN,NaN,NaN
4,S1,Swap,2017-01-01,2017-03-31,20000,Daily,3.0,NaN,Henry Hub,17-01-05,NaN,NaN,NaN

In [ ]:
# Task 5
fuel_prices_concat_df[fuel_prices_concat_df['Variable']=='Henry Hub']

       Variable        Date  Price
0     Henry Hub  2016-01-01  2.310
1     Henry Hub  2016-01-02  2.310
2     Henry Hub  2016-01-03  2.310
3     Henry Hub  2016-01-04  2.310
4     Henry Hub  2016-01-05  2.385
...         ...         ...    ...
1730  Henry Hub  2020-09-26  1.895
1731  Henry Hub  2020-09-27  1.895
1732  Henry Hub  2020-09-28  1.895
1733  Henry Hub  2020-09-29  1.835
1734  Henry Hub  2020-09-30  1.690

[1735 rows x 3 columns]